/*
	Syntax of using CSS rules:

	Selector {
		property: value;
	}
*/

/* Universal Selector */
/* It targets all the elements in our webpage. */

*{
	font-family: "Courier New", monospace;
	/* font-size changes the size of the text */
	font-size: 20px;
}

/* Type Selector */
/* tag-name */
h1{
	color: yellow;
}

/* ID selector */
/* It targets only one element. */
#zuitt-motto{
/* the letter-spacing property changes the spaces between the characters in a text	*/
	letter-spacing: 5px;
}

/* Class Selector */
/* .class-name */
.offering-item{
/* text-transform property changes the font to a certain case	*/
/* uppercase value changes the text to all capitalized letter */
	text-transform: uppercase;
}

/* Attribute Selector */
/* [attribute] */

[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*h3{
	letter-spacing: 25px;
}*/	

/* Adjacent sibling selector */
/* element-for-reference + target+element */

h3 + img{
/* height property changes the vertical dimensions of an element	*/
	height: 300px;
/* width property change the horizontal dimensions of an element */
	width: 300px;
	border-radius: 150px;
}

/* Descendant Selector */
/* element-for-reference target-element */

#bootcamp-learning-list li{
	color: #6e0a3f;
}

/* General Sibling Selector */
h2 ~ a{
/* text-decoration property lines included in text (example: overline, undeline and strike)	*/
/* none value will remove the underline from our anchor tag */
	text-decoration: none;
}

/* Child Selector */
body > section > form > label{
	color: rgb(61, 74, 68);
}

body {
	background-color: lightskyblue;
}

section{
/* vh - viewport height	*/
	height: 100vh;
	text-align: center;
}

html{
/* scroll-behavior property that changes the scrolling behavior when clicking anchor tags	*/
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

/* pseudo class */
a:hover{
	background-color: #6683ed;
}

div {
	display: inline;
/* float property changes the horizontal alignment of an element to float either to the left or right of its containter or div	*/
	float: right;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/* position property changes the position of an element based on a certain criteria	*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: #449e9b;
	color: white;
	border: 0;
	border-radius: 15px;
}