	/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: Open Sans, sans-serif;
}

nav {
	background-color: white;
	top: 0;
	padding: 1rem 1rem 4rem 1rem;
	z-index: 2;
	position: sticky;
}

.right-nav {
	float: right;
}

.nav {
	list-style-type: none;
	display: inline-block;
	margin: 8px;
	position: relative;
	right: 8vw;

}

.tuitt-button {
	padding: 0.6rem 1.2rem 0.6rem 1.2rem;
	border-radius: 25px;
	background-color: #c2195b;
	border: none;
	color: white;
	font-weight: bolder;
}

.nav-logo {
	list-style-type: none;
	padding: 12px;
	float: left;
}

#logo {
	position: relative;
	left: 8vw;

}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	display: inline-block;
	margin-top: 10px;
	min-width: 100vw;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}

.container {
	color: white;
    text-align: right;
    margin-left: 50%;
    margin-right: 10%;
}

#bg-image > .front-bg > .container > .title {
	font-size: 2.5rem;
	display: block;
	font-family: 'Zilla Slab', sans-serif;
}
#bg-image > .front-bg > .container >.subtitle {	
	padding: 1rem;
	font-size: 1rem;
	display: block;
	line-height: 1.5rem;
}

.apply-button {
		padding: 0.8rem 1.6rem 0.8rem 1.6rem;
		border-radius: 25px;
		background-color: #c2195b;
		border: none;
		color: white;
		font-weight: bolder;
}

.intro {
	text-align: center;
	padding-top: 2rem;
}

.intro-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
	padding-bottom: 3rem;
	text-align: left;
}

.pre-footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	background-color: #f7fbfb;
}

.title-2 {
	text-align: center;
	padding-bottom: 1rem;
}

.prefooter-description {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.book-button {
	padding: 0.75em 1.5rem 0.75rem 1.5rem;
	background-color: #336589;
	border-radius: 25px;
	border: none;
	color: white;
}

footer {
	text-align: center;
}