#externalStyle{
	color: #bf9493;
}

*{
	font-family: "Courier New", monospace;
	font-size: 15px;
}

h1{
	font-size: 35px;
}

#idSelector{
	text-transform: uppercase;
}

.languages{
	background-color: #ad6563;
}

[value]{
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

img + ol {
	list-style-type: none;
}

section img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}

h3 ~ p{
	text-align: center;
}

body > section > #toBeLearned {
	letter-spacing: 6px;
}